@model UsersIndexViewModel

<div class="broadcast-card">
    <h1 class="broadcast-h">Search for users</h1>
    <div class="users-search">

        <div>
            <form action="/Users" method="get">
                <input type="text" name="Search" placeholder="Search" value="@Model.Search" />
                <button type="submit" class="follow-btn">--></button>
            </form>
        </div>


        <hr />
    </div>
    <div class="users-result">
        <h2>Results</h2>

        @foreach (var user in Model.Result)
        {
            <p class="broadcast-card">
                <a asp-controller="Users"
                   asp-action="ShowUser"
                   asp-route-id="@user.Id"
                   class="profile-link">
                    @user.Name
                </a>
                @if (!string.IsNullOrEmpty(user.ProfileImagePath))
                {
                    <img src="@user.ProfileImagePath" class="profile-image" />
                }
                else
                {
                    <img src="/images/default-profile.png" class="profile-image" />
                }
            </p>

        }

    </div>

</div>

   

